.address {
    padding: 13px 130px 13px 13px;
    margin-top: 10px;
    width: 144px;
    height: 25px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 17px;
    line-height: 24px;
    background: #4F4F4F;
    border-radius: 8px;
    letter-spacing: 0.5px;
    text-decoration-line: none;
    color: rgba(255, 255, 255, 0.7);
    flex: none;
    order: 0;
    flex-grow: 0;
}