.address {
    padding: 13px 83px 13px 13px;
    margin-top: 10px;
    width: 244px;
    height: 25px;
    /* Inter/Body3 • Link */
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 17px;
    line-height: 24px;
    background: #4F4F4F;
    border-radius: 8px;
    /* identical to box height, or 140% */
    letter-spacing: 0.5px;
    text-decoration-line: none;
    /* Text + Icons/Dark • High Emphasis */
    color: rgba(255, 255, 255, 0.7);
    /* Inside auto layout */
    flex: none;
    order: 0;
    flex-grow: 0;
}