.html,
body {
    /* Auto layout */
    /*     display: flex;
 */
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 64px 417px;
    gap: 112px;
    position: relative;
    width: 1440px;
    height: 2486px;
    /* Greys/08 */
    background: #2A2A2A;
}

.contasiner {
    width: 1440px;
    height: 2486px;
}