.navbar {
    ul {
        list-style-type: none;
        padding: 0;
        width: 606px;
        height: 53px;
        margin-bottom: 112px;
        margin-top: 64px;
    }
    li {
        float: left;
    }
    li a {
        display: block;
        color: white;
        text-align: center;
        padding: 14px 36px;
        text-decoration: none;
    }
    li a:hover {
        background-color: #111;
    }
}