.phone {
    width: 145px;
    height: 145px;
    background: rgba(128, 128, 128, 0.05);
    backdrop-filter: blur(24.4591px);
    /* Note: backdrop-filter has minimal browser support */
    border-radius: 16px;
    /* Inside auto layout */
    flex: none;
    order: 1;
    flex-grow: 0;
}