.section560 {
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 16px;
    width: 560px;
    height: 253px;
    flex: none;
    order: 0;
    align-self: stretch;
    flex-grow: 0;
    justify-content: center;
}