.page {
    display: flex;
}

.page>* {
    padding: 1rem;
}

.sidebar {
    background: var(--color-primary-x-light);
    width: 10rem;
}

.sidebar-star {
    width: 250px;
}

.page-footer {
    display: flex;
    height: 20px;
}

.page-select {
    display: flex;
}

.page-select>* {
    padding: 0rem;
}

.back {
    margin-bottom: 112px;
    width: 606px;
    background: #353333;
    border-radius: 8px;
}

.phone-img {
    width: 145px;
    height: 160px;
}

.mail-img {
    width: 125px;
    height: 125px;
}