.page {
    display: flex;
}

.page>* {
    padding: 1rem;
}

.sidebar {
    background: var(--color-primary-x-light);
    width: 14rem;
}

.page-footer {
    display: flex;
    height: 20px;
}

.page-select {
    display: flex;
}

.page-select>* {
    padding: 0rem;
}