.sign-section {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 13px 16px;
    gap: 10px;
    width: 244px;
    height: 50px;
    background: #4F4F4F;
    border-radius: 8px;
    flex: none;
    order: 0;
    flex-grow: 1;
}