@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Inter&display=swap");
.html,
body {
  /* Auto layout */
  /*     display: flex;
  */
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0px 417px;
  gap: 112px;
  position: relative;
  width: 606px;
  height: 2486px;
  /* Greys/08 */
  background: #2A2A2A;
}

.text {
  font-family: "Inter";
  color: #FFFFFF;
}

h1 {
  /* I craft interfaces */
  width: 560px;
  height: 32px;
  /* Inter/H5 */
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 32px;
  /* identical to box height, or 133% */
  letter-spacing: -0.2px;
  /* Text + Icons/Dark • High Emphasis */
  color: #FFFFFF;
  /* Inside auto layout */
  flex: none;
  order: 1;
  align-self: stretch;
  flex-grow: 0;
}

h2 {
  /* Inter/Body 2 */
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 17px;
  line-height: 24px;
  /* identical to box height, or 141% */
  /* Text + Icons/Dark • High Emphasis */
  color: #FFFFFF;
  /* Inside auto layout */
  flex: none;
  order: 0;
  flex-grow: 0;
}

.subtitle {
  /* Subtitle */
  width: 560px;
  height: 72px;
  /* Inter/Body 1 */
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 17px;
  line-height: 24px;
  /* or 141% */
  /* Text + Icons/Dark • Medium Emphasis */
  color: rgba(255, 255, 255, 0.7);
  /* Inside auto layout */
  flex: none;
  order: 2;
  align-self: stretch;
  flex-grow: 0;
}

.select-subtitle {
  /* Subtitle */
  width: 350px;
  height: 72px;
  /* Inter/Body 1 */
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 17px;
  line-height: 24px;
  /* or 141% */
  /* Text + Icons/Dark • Medium Emphasis */
  color: rgba(255, 255, 255, 0.7);
  /* Inside auto layout */
  flex: none;
  order: 2;
  align-self: stretch;
  flex-grow: 0;
}

.mail-subtitle {
  /* Subtitle */
  width: 400px;
  height: 72px;
  /* Inter/Body 1 */
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 17px;
  line-height: 24px;
  /* or 141% */
  /* Text + Icons/Dark • Medium Emphasis */
  color: rgba(255, 255, 255, 0.7);
  /* Inside auto layout */
  flex: none;
  order: 2;
  align-self: stretch;
  flex-grow: 0;
}

.text-link {
  /* Take me to the magic land */
  width: 200px;
  height: 21px;
  /* Inter/Body3 • Link */
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 21px;
  /* identical to box height, or 140% */
  letter-spacing: 0.5px;
  -webkit-text-decoration-line: underline;
          text-decoration-line: underline;
  /* Text + Icons/Dark • High Emphasis */
  color: #FFFFFF;
  /* Inside auto layout */
  flex: none;
  order: 0;
  flex-grow: 0;
}

.navbar ul {
  list-style-type: none;
  padding: 0;
  width: 606px;
  height: 53px;
  margin-bottom: 112px;
  margin-top: 64px;
}
.navbar li {
  float: left;
}
.navbar li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 36px;
  text-decoration: none;
}
.navbar li a:hover {
  background-color: #111;
}

.avatar {
  /* Avatar + States */
  width: 80px;
  height: 80px;
  /* Inside auto layout */
  flex: none;
  order: 0;
  flex-grow: 0;
}

.section560 {
  /* Auto layout */
  /*     display: flex;
  */
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;
  gap: 16px;
  width: 560px;
  height: 253px;
  /* Inside auto layout */
  flex: none;
  order: 0;
  align-self: stretch;
  flex-grow: 0;
  justify-content: center;
}

.arrow {
  /* Arrows / Large */
  width: 16px;
  height: 16px;
  /* Inside auto layout */
  flex: none;
  order: 1;
  flex-grow: 0;
}

.page {
  display: flex;
}

.page > * {
  padding: 1rem;
}

.sidebar {
  background: var(--color-primary-x-light);
  width: 14rem;
}

.page-footer {
  display: flex;
  height: 20px;
}

.page-select {
  display: flex;
}

.page-select > * {
  padding: 0rem;
}

.subscribe1 {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 13px 24px;
  width: 100px;
  height: 25px;
  /* Greys/06 */
  background: #4F4F4F;
  mix-blend-mode: normal;
  border-radius: 12px;
  /* Inside auto layout */
  flex: none;
  order: 1;
  flex-grow: 0;
}

.subscribe {
  padding: 13px 16px;
  margin-top: 10px;
  width: 100px;
  height: 25px;
  /* Inter/Body3 • Link */
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 17px;
  line-height: 24px;
  background: #4F4F4F;
  border-radius: 8px;
  /* identical to box height, or 140% */
  letter-spacing: 0.5px;
  -webkit-text-decoration-line: none;
          text-decoration-line: none;
  /* Text + Icons/Dark • High Emphasis */
  color: #FFFFFF;
  /* Inside auto layout */
  flex: none;
  order: 0;
  flex-grow: 0;
}

.address {
  padding: 13px 83px 13px 13px;
  margin-top: 10px;
  width: 244px;
  height: 25px;
  /* Inter/Body3 • Link */
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 17px;
  line-height: 24px;
  background: #4F4F4F;
  border-radius: 8px;
  /* identical to box height, or 140% */
  letter-spacing: 0.5px;
  -webkit-text-decoration-line: none;
          text-decoration-line: none;
  /* Text + Icons/Dark • High Emphasis */
  color: rgba(255, 255, 255, 0.7);
  /* Inside auto layout */
  flex: none;
  order: 0;
  flex-grow: 0;
}

.sign-section {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 13px 16px;
  gap: 10px;
  width: 244px;
  height: 50px;
  /* Greys/06 */
  background: #4F4F4F;
  border-radius: 8px;
  /* Inside auto layout */
  flex: none;
  order: 0;
  flex-grow: 1;
}/*# sourceMappingURL=style.css.map */