@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Inter&display=swap");
.html,
body {
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0px 417px 0px 417px;
  gap: 112px;
  position: relative;
  width: 606px;
  height: 2486px;
  background: #2A2A2A;
}

.margin-botton {
  margin-bottom: 112px;
}

.text {
  font-family: "Inter";
  color: #FFFFFF;
}

h1 {
  width: 560px;
  height: 32px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 32px;
  letter-spacing: -0.2px;
  color: #FFFFFF;
  flex: none;
  order: 1;
  align-self: stretch;
  flex-grow: 0;
}

h2 {
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 17px;
  line-height: 24px;
  color: #FFFFFF;
  flex: none;
  order: 0;
  flex-grow: 0;
}

.subtitle {
  width: 560px;
  height: 72px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 17px;
  line-height: 24px;
  color: rgba(255, 255, 255, 0.7);
  flex: none;
  order: 2;
  align-self: stretch;
  flex-grow: 0;
}

.select-subtitle {
  width: 350px;
  height: 72px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 17px;
  line-height: 24px;
  color: rgba(255, 255, 255, 0.7);
  flex: none;
  order: 2;
  align-self: stretch;
  flex-grow: 0;
}

.mail-subtitle {
  width: 400px;
  height: 72px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 17px;
  line-height: 24px;
  color: rgba(255, 255, 255, 0.7);
  flex: none;
  order: 2;
  align-self: stretch;
  flex-grow: 0;
}

.text-link {
  width: 200px;
  height: 21px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 21px;
  letter-spacing: 0.5px;
  -webkit-text-decoration-line: underline;
          text-decoration-line: underline;
  color: #FFFFFF;
  flex: none;
  order: 0;
  flex-grow: 0;
}

.date {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
  /* identical to box height, or 133% */
  letter-spacing: 0.4px;
  /* Text + Icons/Dark • Disabled */
  color: rgba(255, 255, 255, 0.5);
  /* Inside auto layout */
  flex: none;
  order: 0;
  align-self: stretch;
  flex-grow: 0;
}

.navbar ul {
  list-style-type: none;
  padding: 0;
  width: 606px;
  height: 53px;
  margin-bottom: 112px;
  margin-top: 64px;
}
.navbar li {
  float: left;
}
.navbar li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 36px;
  text-decoration: none;
}
.navbar li a:hover {
  background-color: #111;
}

.avatar {
  width: 80px;
  height: 80px;
  flex: none;
  order: 0;
  flex-grow: 0;
}

.section560 {
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;
  gap: 16px;
  width: 560px;
  height: 253px;
  flex: none;
  order: 0;
  align-self: stretch;
  flex-grow: 0;
  justify-content: center;
}

.arrow {
  width: 10px;
  height: 10px;
  flex: none;
  order: 1;
  flex-grow: 0;
}

.page {
  display: flex;
}

.page > * {
  padding: 1rem;
}

.sidebar {
  background: var(--color-primary-x-light);
  width: 14rem;
}

.sidebar-star {
  width: 250px;
}

.page-footer {
  display: flex;
  height: 20px;
}

.page-select {
  display: flex;
}

.page-select > * {
  padding: 0rem;
}

.back {
  margin-bottom: 112px;
  width: 606px;
  background: #353333;
  border-radius: 8px;
}

.subscribe1 {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 13px 24px;
  width: 100px;
  height: 25px;
  background: #4F4F4F;
  mix-blend-mode: normal;
  border-radius: 12px;
  flex: none;
  order: 1;
  flex-grow: 0;
}

.subscribe {
  padding: 13px 16px;
  margin-top: 10px;
  width: 100px;
  height: 25px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 17px;
  line-height: 24px;
  background: #4F4F4F;
  border-radius: 8px;
  letter-spacing: 0.5px;
  -webkit-text-decoration-line: none;
          text-decoration-line: none;
  color: #FFFFFF;
  flex: none;
  order: 0;
  flex-grow: 0;
}

.address {
  padding: 13px 130px 13px 13px;
  margin-top: 10px;
  width: 144px;
  height: 25px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 17px;
  line-height: 24px;
  background: #4F4F4F;
  border-radius: 8px;
  letter-spacing: 0.5px;
  -webkit-text-decoration-line: none;
          text-decoration-line: none;
  color: rgba(255, 255, 255, 0.7);
  flex: none;
  order: 0;
  flex-grow: 0;
}

.sign-section {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 13px 16px;
  gap: 10px;
  width: 244px;
  height: 50px;
  background: #4F4F4F;
  border-radius: 8px;
  flex: none;
  order: 0;
  flex-grow: 1;
}

.star {
  width: 20px;
  flex: none;
  flex-grow: 0;
  margin-left: 8px;
}

@media all and (min-width: 360px) and (max-width: 512px) {
  .html,
body {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0px 40px 0px 40px;
    width: 30%;
    margin: 0px;
  }
  .section560 {
    width: 260px;
  }
  .article {
    margin-bottom: 32px;
    width: 200px;
  }
  article.article {
    margin-bottom: 32px;
    width: 200px;
  }
  .navbar ul {
    width: 403px;
    height: 20px;
    margin-bottom: 12px;
    margin-top: 64px;
  }
  .navbar li {
    float: left;
  }
  .navbar li a {
    text-align: left;
    padding: 10px 10px;
    font-size: 8px;
  }
  .avatar {
    width: 50px;
    height: 50px;
  }
  h1 {
    font-size: 14px;
    width: 160px;
  }
  h2 {
    font-weight: 200;
    font-size: 10px;
  }
  .subtitle {
    width: 250px;
    height: 92px;
    font-size: 10px;
  }
  .select-subtitle {
    width: 250px;
    font-size: 10px;
  }
  .mail-subtitle {
    width: 200px;
    font-size: 10px;
  }
  .text-link {
    width: 100px;
    font-size: 7px;
  }
  .date {
    font-weight: 200;
    font-size: 10px;
  }
  .page-select,
.page {
    flex-direction: column;
  }
  .back {
    margin-bottom: 112px;
    width: 236px;
    background: #353333;
    border-radius: 8px;
  }
  .address,
.subscribe {
    padding: 13px 50px 13px 13px;
    margin-top: 10px;
    width: 140px;
    height: 25px;
    font-weight: 500;
    font-size: 10px;
  }
  .back {
    margin-bottom: 10px;
    width: 206px;
    background: #353333;
    border-radius: 8px;
  }
  .margin-botton {
    margin-bottom: 12px;
  }
  .sidebar {
    background: var(--color-primary-x-light);
    width: 14rem;
  }
  .sidebar-star {
    width: 150px;
  }
}
@media all and (min-width: 512px) and (max-width: 1024px) {
  .html,
body {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 50%;
    margin: 0px;
    padding: 0px 247px 0px 247px;
  }
}
@media all and (min-width: 1200px) and (max-width: 2560px) {
  .html,
body {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 50%;
    margin: 0px;
    padding: 0px 317px 0px 317px;
  }
  .navbar ul {
    width: 603px;
    height: 60px;
    margin-bottom: 112px;
    margin-top: 64px;
    font-size: 20px;
  }
  .navbar li {
    float: left;
  }
  .navbar li a {
    text-align: left;
    padding: 10px 30px;
  }
  .avatar {
    width: 90px;
    height: 90px;
  }
  .article {
    margin-right: 32px;
    margin-bottom: 32px;
    width: 12px;
  }
  h1 {
    font-size: 25px;
  }
  h2 {
    font-weight: 250;
    font-size: 20px;
  }
  .subtitle {
    width: 550px;
    height: 92px;
    font-size: 22px;
  }
  .select-subtitle {
    width: 400px;
    font-size: 22px;
    margin-right: 40px;
  }
  .mail-subtitle {
    width: 400px;
    font-size: 20px;
  }
  .text-link {
    width: 200px;
    font-size: 14px;
  }
  .date {
    font-weight: 300;
    font-size: 20px;
  }
  .page-select,
.page {
    flex-direction: row;
  }
  .article {
    margin-right: 52px;
    margin-bottom: 32px;
    width: 402px;
  }
  .back {
    margin-bottom: 112px;
    width: 600px;
    background: #353333;
    border-radius: 8px;
  }
  .address {
    padding: 13px 130px 13px 13px;
    margin-top: 10px;
    width: 120px;
    height: 25px;
    font-weight: 500;
    font-size: 17px;
  }
  .subscribe {
    padding: 13px 16px;
    margin-top: 10px;
    width: 100px;
    height: 25px;
    font-weight: 500;
    font-size: 17px;
  }
}
.article {
  margin-right: 32px;
  margin-bottom: 32px;
  width: 382px;
}/*# sourceMappingURL=style.css.map */